<!-- <p>Book Title: <%= @book.book_title%> </p>
<p>Series Title: <%=@book.series_title%> </p>
<p>Author: <%=@book.author%> </p>
<p>Year: <%=@book.year%> </p>
<p>Description: <%=@book.description%> </p>
<img class="book_image" src="<%=@book.image%>"> -->
