<!-- <p>Book Title: <%= @book.book_title%> </p>
<p>Series Title: <%=@book.series_title%> </p>
<p>Author: <%=@book.author%> </p>
<p>Year: <%=@book.year%> </p>
<p>Description: <%=@book.description%> </p>
<img class="book_image" src="<%=@book.image%>"> -->




<!-- <%= cloudinary_js_config %> -->
<!-- above was in application.html.erb file in meta -->



<!-- was apart of the form_for in artsts excersis -->
<!-- <p>
  <%= f.label :artist_id
  <%= f.collection_select(:artist_id, @artists, :id, :name, include_blanks: true) %>
 %>

</p>
 -->
