<h1>Books show</h1>

<%= @book.book_title %><br>
<%= @book.series_title %><br>
<%= @book.author %><br>
<%= @book.year %><br>
<%= @book.description %><br>
<%= cl_image_tag @book.image %>
<br>


<hr>
<h3>Reviews</h3>


<ul>
<% @book.reviews.each do  |r| %>
  <li>
    <%= r.review %><br>
    - <%= r.user.username %>, <%= time_ago_in_words r.created_at %> ago
  </li>
<% end %>
</ul>


<hr>

<%= form_for Review.new do |f| %>

  <%= f.label :review %>
  <%= f.text_area :review %>

  <%= hidden_field_tag :book_id, @book.id %>

  <%= f.submit %>

<% end %>
