<div class="review">



  <div class="bookinfo">
    <h1>Book Title</h1>
  </div>
  <div class="bookdata" id="book_title"><%= @book.book_title %></div><br>

  <div class="bookinfo">
    <p>Series Title</p>
  </div>
  <div class="bookdata"><%= @book.series_title %></div><br>

  <div class="bookinfo">
    <p>Author</p>
  </div>
  <div class="bookdata"><%= @book.author %></div><br>
  <div class="bookinfo">
    <p>Year</p>
  </div>
  <div class="bookdata"><%= @book.year %></div><br>

  <div class="bookinfo">
    <p>Book Description</p>
  </div>
  <div class="bookdata"><%= @book.description %></div><br>

  <div class="bookimg">
    <%= cl_image_tag @book.image %>
  </div>
  <br>


  <hr>
  <h3>Reviews</h3>

    <% @book.reviews.each do  |r| %>
      <%= r.review %><br>
      -

      <%= link_to r.user.username, user_path(r.user_id) %>,
      <%= time_ago_in_words r.created_at %>
      ago
      <br>
    <% end %>

  <hr>

  <%= form_for Review.new do |f| %>

  <%= f.label :review %><br>

  <%= f.text_area :review %><br>

  <%= hidden_field_tag :book_id, @book.id %>

  <%= f.submit %>

  <% end %>
</div>
